<%= will_paginate @patients %>
 <table id="post_table" class="table table-striped table-bordered">
    <thead>
      <tr>
        <th class="sortable"><u>
        <%#= link_to 'PatientName', my_patients_sort_agent_path(current_user,sortby: 'name'), remote: true%>
        <span class="sort" id="sname" sort_by="name" sort_type="">PatientName</span>
        </u></th>

        <th>Phone</th>
        <th class="sortable"><u>
           <span class="sort" id="sdate" sort_by="created_at" sort_type="">Admit Date</span>
        </u></th>
        <th colspan="3" >Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @patients.each do |patient| %>
        <tr>
          <td><%= patient.name %></td>

          <td><%= patient.phone %></td>
          <td><%= patient.created_at.strftime("%d %B, %Y")   %></td>
          <!-- <td><%#= link_to 'Show', post %></td>-->
          <td><%= link_to image_tag("/assets/edit.png",size: "25"), edit_patient_path(patient), :class => "btn", :remote => true%></td>
          <td><%= link_to image_tag("/assets/reject.png",size: "25"), patient, method: :delete,class: 'delete_patient', :remote => true, data: {confirm: "Are you sure to delete the patient?"}   %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @patients %>